<div id="<%= dom_id student %>">
  <p>
    <strong>Firstname:</strong>
    <%= student.firstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= student.lastName %>
  </p>

  <p>
    <strong>User:</strong>
    <%= student.user_id %>
  </p>

  <p>
    <strong>Class of student:</strong>
    <%= student.class_of_student_id %>
  </p>

</div>
