<div id="<%= dom_id class_of_student %>">
  <p>
    <strong>Symbol:</strong>
    <%= class_of_student.symbol %>
  </p>

  <p>
    <strong>Yearofstart:</strong>
    <%= class_of_student.yearOfStart %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <br>
    <%= "Id: " + class_of_student.teacher_id.to_s %>
    <br>
    <%= "Last name: " + class_of_student.teacher.lastName %>
    <br>
    <%= "First name: " + class_of_student.teacher.firstName %>
  </p>

</div>
