<div id="<%= dom_id animal %>">
  <p>
    <strong>Code:</strong>
    <%= animal.code %>
  </p>

  <p>
    <strong>Animal type:</strong>
    <br>
    <%= "Id: " + animal.animal_type_id.to_s %>
    <br>
    <%= "Gatunek: " + animal.animal_type.species%>
    <br>
    <%= "Grupa: " + animal.animal_type.group %>
  </p>

</div>
