<div id="<%= dom_id lesson %>">
  <p>
    <strong>Date:</strong>
    <%= lesson.date %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= lesson.teacher.name %>
  </p>

  <p>
    <strong>Class of student:</strong>
    <%= lesson.class_of_student.symbol %>
  </p>

  <p>
    <strong>Animal:</strong>
    <%= lesson.animal.animal_infor %>
  </p>

  <p>
    <strong>Test:</strong>
    <%= lesson.test.test_infor %>
  </p>

  <p>
    <strong>Classroom:</strong>
    <%= lesson.classroom.number %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= lesson.course.name %>
  </p>

</div>
