<div id="<%= dom_id lesson %>">
  <p>
    <strong>Date:</strong>
    <%= lesson.date %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= lesson.teacher_id %>
  </p>

  <p>
    <strong>Class of student:</strong>
    <%= lesson.class_of_student_id %>
  </p>

  <p>
    <strong>Animal:</strong>
    <%= lesson.animal_id %>
  </p>

  <p>
    <strong>Test:</strong>
    <%= lesson.test_id %>
  </p>

  <p>
    <strong>Classroom:</strong>
    <%= lesson.classroom_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= lesson.course_id %>
  </p>

</div>
