<p style="color: green"><%= notice %></p>

<%= render @text_message %>

<div>
  <%= link_to "Edit this text message", edit_text_message_path(@text_message) %> |
  <%= link_to "Back to text messages", text_messages_path %>

  <%= button_to "Destroy this text message", @text_message, method: :delete %>
</div>
