<%= form_with(model: student_grade) do |form| %>
  <% if student_grade.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(student_grade.errors.count, "error") %> prohibited this student_grade from being saved:</h2>

      <ul>
        <% student_grade.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :grade, style: "display: block" %>
    <%= form.select :grade, [1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0]%>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.datetime_field :date %>
  </div>

  <div>
    <%= form.label :teacher_id, style: "display: block" %>
    <%= form.collection_select(:teacher_id, Teacher.order(:lastname), :id, :name) %>
  </div>

  <div>
    <%= form.label :student_id, style: "display: block" %>
    <%= form.collection_select(:student_id, Student.order(:lastname), :id, :student_infor) %>
  </div>

  <div>
    <%= form.label :course_id, style: "display: block" %>
    <%= form.collection_select(:course_id, Course.order(:name), :id, :name) %>
  </div>

  <div>
    <%= form.label :test_id, style: "display: block" %>
    <%= form.collection_select(:test_id, Test.order(:name), :id, :test_infor) %>
  </div>

  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
