<div id="<%= dom_id student_grade %>">
  <p>
    <strong>Grade:</strong>
    <%= student_grade.grade %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= student_grade.date %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= student_grade.teacher_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= student_grade.student_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= student_grade.course_id %>
  </p>

  <p>
    <strong>Test:</strong>
    <%= student_grade.test_id %>
  </p>

</div>
