<p style="color: green"><%= notice %></p>

<%= render @student_grade %>

<div>
  <%= link_to "Edit this student grade", edit_student_grade_path(@student_grade) %> |
  <%= link_to "Back to student grades", student_grades_path %>

  <%= button_to "Destroy this student grade", @student_grade, method: :delete %>
</div>
